In [1]:
string1 = 'Hi My Name is Ramesh , I study at Ethans'

In [3]:
string1.capitalize()

'Hi my name is ramesh , i study at ethans'

In [4]:
string1.title()

'Hi My Name Is Ramesh , I Study At Ethans'

In [5]:
string1.upper()

'HI MY NAME IS RAMESH , I STUDY AT ETHANS'

In [6]:
string1.lower()

'hi my name is ramesh , i study at ethans'

In [8]:
string1.swapcase()

'hI mY nAME IS rAMESH , i STUDY AT eTHANS'

In [12]:
string1.count('e')

2

In [13]:
string1

'Hi My Name is Ramesh , I study at Ethans'

In [16]:
string1[0]

'H'

In [17]:
string1[1]

'i'

In [18]:
string1[-2]

'n'

In [19]:
string1[0:-3]

'Hi My Name is Ramesh , I study at Eth'

In [20]:
string1[0:3]

'Hi '

In [21]:
string1[0:-6]

'Hi My Name is Ramesh , I study at '

In [22]:
    string1[0::3]

'HMNesas, u  hs'

In [23]:
x=('stupid  ')

In [24]:
x.strip()

'stupid'

In [25]:
x= 'abcd   '

In [26]:
x.strip()

'abcd'

In [27]:
x.lstrip()

'abcd   '

In [30]:
x.strip()

'abcd'

In [31]:
string1[::-1].upper()

'SNAHTE TA YDUTS I , HSEMAR SI EMAN YM IH'

In [35]:
string2=string1[::-1].upper()[::-1]

In [36]:
string2

'HI MY NAME IS RAMESH , I STUDY AT ETHANS'

In [37]:
string1.split()

['Hi', 'My', 'Name', 'is', 'Ramesh', ',', 'I', 'study', 'at', 'Ethans']

In [40]:
string1.split(sep=',')

['Hi My Name is Ramesh ', ' I study at Ethans']

In [5]:
string3 = 'a,bc,cd,dg'

In [6]:
string3.split(',')

['a', 'bc', 'cd', 'dg']

In [7]:
string3.split(',')[-1].split()[0].upper()

'DG'

In [17]:
string3.split(',')[3].split()[0].upper()

'DG'

In [18]:
los=['arjun','pritam','sourav','gandu']

In [20]:
los[-3]

'pritam'

In [21]:
los[-3].upper()

'PRITAM'

In [25]:
los[2]

'sourav'

In [23]:
los[3]

'gandu'

In [24]:
los[2]+los[3]

'souravgandu'

In [28]:
los

['arjun', 'pritam', 'sourav', 'gandu']

In [32]:
'------'.join(los)

'arjun------pritam------sourav------gandu'

In [33]:
'------'.join(los).upper()

'ARJUN------PRITAM------SOURAV------GANDU'

In [34]:
#tuple

In [35]:
tup1=('arjun', 'pritam', 'sourav', 'gandu')

In [38]:
tup1[0]

'arjun'

In [40]:
tup2=tup1[:3]

In [41]:
tup2

('arjun', 'pritam', 'sourav')

In [46]:
tup2[1]

'pritam'

In [49]:
tup2[:1]

('arjun',)

In [48]:
los[1]

'pritam'

In [51]:
combo_struc=['arjun','vaibhav',['ankit','ashna'],('rohit',),'vishal']

In [53]:
combo_struc

['arjun', 'vaibhav', ['ankit', 'ashna'], ('rohit',), 'vishal']

In [55]:
len(combo_struc)

5

In [57]:
combo_struc[2][1]

'ashna'

In [58]:
combo_struc[3]

('rohit',)

In [59]:
combo_struc[-1]

'vishal'

In [61]:
combo_struc[2].append('ramesh')

In [63]:
combo_struc[2]

['ankit', 'ashna', 'ramesh']

In [66]:
combo_struc[3]=('rohit','rohit2')

In [67]:
combo_struc[3]

('rohit', 'rohit2')

In [69]:
combo_struc

['arjun',
 'vaibhav',
 ['ankit', 'ashna', 'ramesh'],
 ('rohit', 'rohit2'),
 'vishal']

In [70]:
#dictionary

In [71]:
dict1={'name':'kukku','Roll_no':20,'Age':13}

In [72]:
dict1

{'name': 'kukku', 'Roll_no': 20, 'Age': 13}

In [73]:
dict1.keys()

dict_keys(['name', 'Roll_no', 'Age'])

In [74]:
dict1.values()

dict_values(['kukku', 20, 13])

In [75]:
dict1['surname']='sharma'

In [76]:
dict1

{'name': 'kukku', 'Roll_no': 20, 'Age': 13, 'surname': 'sharma'}

In [77]:
dict1['name']='akash'

In [78]:
dict1

{'name': 'akash', 'Roll_no': 20, 'Age': 13, 'surname': 'sharma'}

In [79]:
dict1.items()

dict_items([('name', 'akash'), ('Roll_no', 20), ('Age', 13), ('surname', 'sharma')])

In [82]:
list(dict1.items())

[('name', 'akash'), ('Roll_no', 20), ('Age', 13), ('surname', 'sharma')]

In [83]:
dict1.popitem()

('surname', 'sharma')

In [86]:
dict1.pop('name')

'akash'

dict1.pop('roll_no')

In [87]:
dict1.pop('Roll_no')

20

In [90]:
dict1

{'Age': 13}

In [92]:
los = ['anand','ankita','hosana','ram']

In [1]:
ll=[]

In [7]:
#this was from great learning

FileNotFoundError: [Errno 2] No such file or directory: 'Line_By_Line.txt'

In [9]:
class Phone:
    def make_call(self):
        print('making a phone call')
        
    def play_game(self):
        print('playing game')

In [10]:
P1=Phone()

In [11]:
P1.make_call()

making a phone call

In [12]:
P1.play_game()

playing game

In [ ]:
# def func(x):
#     return(x.count('a'))

In [1]:
#loop

In [2]:
l1=['ajay','ram','[raghu','john','nik']]

In [4]:
for i in l1:
    print(len(i))

4
3
5
4
3

In [ ]:
# list(map(func, los))

In [11]:
los=['kartik','benny','ashna','pritam','neha']

In [12]:
list(map(str.upper, los))

['KARTIK', 'BENNY', 'ASHNA', 'PRITAM', 'NEHA']

In [13]:
set(los)

{'ashna', 'benny', 'kartik', 'neha', 'pritam'}

In [14]:
l1 =[1,2,6,8,8,5,25,2,3,6]

In [15]:
s2=set(l1)

In [ ]:
s3={3,6,5,8,9,3,8,}

In [16]:
s2

{1, 2, 3, 5, 6, 8, 25}

In [1]:
lol=[1,2,3,4,[8,9,10],[6[25,65,95]]]

TypeError: 'int' object is not subscriptable

In [2]:
#LOOP

In [4]:
for i in [1,2,3,4,5,6]:
    print(i+1)

2
3
4
5
6
7

In [7]:
for i in  'adsfgg':
    print(i)

a
d
s
f
g
g

In [8]:
for i in [1,2,3,[2,5,6]]:
    print(i)

1
2
3
[2, 5, 6]

In [11]:
for i in range(0,10):
    print(i)
    print('dfdg')

0
dfdg
1
dfdg
2
dfdg
3
dfdg
4
dfdg
5
dfdg
6
dfdg
7
dfdg
8
dfdg
9
dfdg

In [13]:
for i in range(0,10):
    print(i)
print('hgh')

0
1
2
3
4
5
6
7
8
9
hgh

In [14]:
for i in range(2,10):
    print(i)
    print('hghyg')

2
hghyg
3
hghyg
4
hghyg
5
hghyg
6
hghyg
7
hghyg
8
hghyg
9
hghyg

In [16]:
#conditional statements #if #else

In [17]:
x=15

In [21]:
if x>10:
    print('x is greater than 10')

x is greater than 10

In [22]:
x>10

True

In [26]:
if x>20:
    print('x is greater than 20')
else:
    print( 'less than 20')

less than 20

In [27]:
x=9

In [30]:
if x>=10:
    print('x is greater than 10')
else:
    print('less thn 10')

less thn 10

In [31]:
if x>=10:
    print ('greater than 10')
elif x<10:
    print('less than 10')
    if x%2==10:
        print('seems even')

less than 10

In [32]:
#nested loop

In [33]:
a= 46

In [3]:
if a>50:
    print('greater than 50')
    if ((a>55) and (a<60)):
        print('between 55 and 60')
    else:
        print('dont know')
elif a%2==0:
    print('its even')
else:
    print('its odd')

NameError: name 'a' is not defined

In [4]:
# while loop

In [ ]:
count = 10

In [7]:
while count>=1:
    print(count)
    count = count-1

NameError: name 'count' is not defined

In [6]:
while count>=1:
    print(count)
    count = count-1

11
10
9
8
7
6
5
4
3
2
1

In [2]:
count = 0

In [5]:
while count<=10:
    print(count)
    count = count+1

2
3
4
5
6
7
8
9
10

In [ ]:
count = 0

In [7]:
while count<=10:
    print(count)
    if count==5:
        break
    count = count+1

0
1
2
3
4
5

In [9]:
while count<=20:
    print(count)
    if count==10:
        break
    count = count+1

9
10

In [11]:
for i in range (10):
    if i ==4:
        continue
    print(i)

0
1
2
3
5
6
7
8
9

In [12]:
for i in range (10):
    print(i)else:
    print('something wrong')

0
1
2
3
4
5
6
7
8
9
something wrong

In [15]:
for i in range (10):
    print(i)
    if i==5:
        break
else:
    print('something wrong')

0
1
2
3
4
5

In [17]:
for i in range(10):
    print(i)
    if i==5:
        break
else:
    print('something wrong')

0
1
2
3
4
5

In [18]:
for i in range(10):
    print(i)
    if i==5:
        continue
else:
    print ('something wrong')

0
1
2
3
4
5
6
7
8
9
something wrong

In [19]:
for i in range(10):
    print(i*10)

0
10
20
30
40
50
60
70
80
90

In [22]:
[i*10 for i in range(10)]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [27]:
for i in range (10):
    if i%2==0:
        print('even' , i)
    else:
        print('odd' , i)

even 0
odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9

In [ ]:
['EVEN' +str(i) for i in range (10)]

In [3]:
import datetime

In [4]:
today = datetime.datetime.now()

In [5]:
type(today)

datetime.datetime

In [6]:
today.date()

datetime.date(2020, 3, 5)

In [8]:
today.day

5

In [9]:
today.month

3

In [10]:
today.year

2020

In [11]:
today.isoformat()

'2020-03-05T08:25:10.186364'

In [13]:
today.strftime('%X')

'08:25:10'

In [14]:
import calendar
import time

In [18]:
today.strftime('%d-%B,%Y')

'05-March,2020'

In [20]:
today_str ='o5-march-2020'

In [23]:
import shutil

In [27]:
shutil.make_archive(r'C:\Users\Lenovo\Desktop\new', 'zip' ,r'C:\Users\Lenovo\Desktop\new')

FileNotFoundError: [WinError 2] The system cannot find the file specified: 'C:\\Users\\Lenovo\\Desktop\\new'

In [29]:
##Exception handling

In [30]:
a=1
b=0

In [31]:
a/b

ZeroDivisionError: division by zero

In [33]:
def divider(x,y):
    return(x/y)

In [35]:
divider(a/b)

ZeroDivisionError: division by zero

In [36]:
try:
    a/b
except :
    print('something went wrong')

something went wrong